<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<h1>Angular is a greate framework</h1>
<H2>
  {{ pip | lowercase }}
  <h3>{{ nami | uppercase }}</h3>
  <div>{{ message }}</div>
  <h4>{{ tit | titlecase }}</h4>
  <h5>{{ tit | slice: 3:12 | titlecase }}</h5>
  <div>{{ person | json }}</div>
  <h3>{{ 5.678 | number: '1.2-3' }}</h3>
  <h3>{{ 5.678 | number: '3.1-2' }}</h3>
  <h3>{{ 5.678 | number: '2.3-4' }}</h3>
  <h3>{{ 0.04 | percent }}</h3>
  <h3>{{ 5.678 | currency }}</h3>
  <h3>{{ 5.678 | currency: 'GBP' }}</h3>
  <h3>{{ 5.678 | currency: '' }}</h3>

  <h3>{{ date }}</h3>
  <h3>{{ date | date: 'short' }}</h3>
  <h3>{{ date | date: 'shortdate' }}</h3>
  <h3>{{ date | date: 'short' }}</h3>
  <app-test
    (chilEvent)="message = '{{event}}'"
    [pardata]="fname"
    [nam]="nami"
  ></app-test>
</H2>
